{% extends 'main_wrapper.html.twig' %}

{% block body %}
<div id="wrapper" class="container-grey">
    <div id="container" class="title-wrapper">
       Home page - Welcome!
    </div>
</div>
{% endblock %}